language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

env:
  - DB=mysql
  - DB=pgsql
  - DB=sqlite

before_script:
  - if [[ $DB = 'pgsql' ]]; then psql -c 'create database travis_test;' -U postgres; fi
  - if [[ $DB = 'mysql' ]]; then mysql -e 'create database travis_test;'; fi
  - if [[ $TRAVIS_PHP_VERSION = '5.6' ]]; then PHPUNIT_FLAGS="--coverage-clover=coverage.clover"; else PHPUNIT_FLAGS=""; fi
  - composer config -g github-oauth.github.com $GITHUB_COMPOSER_AUTH
  - travis_retry composer install --no-interaction --prefer-dist --dev

script:
  - php vendor/bin/phpunit $PHPUNIT_FLAGS

# only send coverage for PHP 5.6
after_script:
  - if [[ $TRAVIS_PHP_VERSION = '5.6' ]]; then wget https://scrutinizer-ci.com/ocular.phar; fi
  - if [[ $TRAVIS_PHP_VERSION = '5.6' ]]; then php ocular.phar code-coverage:upload --format=php-clover coverage.clover; fi

matrix:
  exclude:
  - php: hhvm
    env: DB=pgsql # driver currently unsupported by HHVM
  allow_failures:
  - php: 7.0
  - env: DB=pgsql
